* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


.inter-letter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.header-section {
    /* width: 1440px; */
    height: 698px;
    border: 1px solid red;
    background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
}

nav {
    width: 1140px;
    height: 151px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
}

.nav-h1 {
    color: #4E47FF;
    margin-top: 50px;
    font-size: 34px;
    /* font-weight: bold; */
}

.nav-btn {
    /* padding: 12px 25px; */
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    margin-top: 45px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    /* font-family:; */
}

.nav-btn:hover{
   
    background-color: #0d0d17;
    transition: 0.5;
   
}

.templet {
    width: 905px;
    height: 237px;
    margin: 160px auto;
    border: 1px solid yellow;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;



}

.templet-h1 {
    font-size: 65px;
}

.tem-btn {
    width: 174px;
    height: 48px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    /* margin-top: 50px; */


}

.main-sec {
    width: 1140px;
    height: 328px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-sec-div {
    width: 517px;
    height: 203px;
    border: 1px solid black;
    margin: auto 0;
    /* margin-bottom: 10px; */
}

.m-s-i {
    width: 403px;
    height: 328px;
    border-radius: 20px;
}

.main-sec-h1,
.main-sec-p,
.main-sec-btn {
    margin-bottom: 10px;
}

.main-sec-btn {
    background-color: #4E47FF;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    color: white;
}

.main-sec-p {
    color: #252432;
    opacity: 50%;
    font-size: 24px;


}

.user {
    width: 1140px;
    height: 306px;
    margin: 150px auto;
    border-radius: 15px;
    border: 1px solid green;
    background-color: rgba(253, 187, 196, 0.102);
}

.user-first-child {
    width: 856px;
    height: 206px;
    margin: 50px auto;
    border: 1px solid blueviolet;

}

.user-h1 {
    text-align: center;
    font-size: 38px;
}

.user-activity {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}

.child2-h1 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}

.child2-p {
    color: #000000;
    opacity: 50%;
    margin-left: 10px;
    font-size: 20px;
}

/* loved section start */
.loved-div {
    width: 1140px;
    height: 342px;
    margin: 140px auto;
    border: 1px solid goldenrod;
}

.loved-h1 {
    text-align: center;
}

/* loved card cointainer start */
.cart-cointainer {
    height: 243px;
    width: 1140px;
    border: 1px solid rgb(33, 33, 3);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

}

/* cart start */
.cart {
    width: 366px;
    height: 242px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid red;
}

.star-div,
.loved-by-desiner,
.review {
    margin-left: 10px;
    margin-top: 25px;
}

.lbd-p {
    margin-top: 10px;
}

.review {
    display: flex;
}

.date-h5,
.date-p {
    margin-left: 10px;
}

.date-p {
    color: #B3B3B3;
}

.date-h5 {
    color: #757575;
}

/* loved section end */

/* redy-to-batter start */

.better {
    width: 1140px;
    height: 697px;
    border: 1px solid red;
    background-color: #ffffff;
    margin: 140px auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}


.better-img {
    width: 840px;
    height: 364px;
    border-radius: 30px;
    margin-top: 30px;
}

.better-h1 {
    margin-top: 50px;
}

.better-p,
.better-btn {
    margin-top: 20px;
}

.better-btn {
    background-color: #4E47FF;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
}

/* redy-to-batter end */

/* form start  */
.form-div {
    width: 1140px;
    height: 696px;
    border: 1px solid black;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.let {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.let-h1 {
    font-size: 97px;
    font-weight: bold;
}

form {
    width: 497px;
    height: 490px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid blueviolet;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 495px;
    height: 70px;
    margin-top: 10px;
    border-radius: 10px;
    /* border: none; */
}

.textarea {
    width: 495px;
    padding: 32px;
    border-radius: 10px;
    /* height: 135px; */
}

.form-btn {
    padding: 12px 25px;
    background-color: #4E47FF;
    margin-top: 15px;
    width: 497px;
    border-radius: 10px;
    border: none;
}


/* form end */

/* footer start */
.footer-sec {
    /* width: 1440px; */
    height: 428px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid red;

}

.footer-child {
    width: 531px;
    height: 221px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
}

.f-h1 {
    color: #4E47FF;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}

.f-p {
    color: #8987A1;
    text-align: center;
}

li {
    list-style: none;



}

a {
    color: #8987A1;
    text-decoration: none;
}

.list {
    margin: 10px auto;
    width: 500px;
    border: 1px solid black;
}

ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* align-items: center; */
}

body{
    background-color: #f3f5f8;
}